<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Kenneth",
  "url": "{{ site.url }}",
  "email": "{{ site.email }}",
  "jobTitle": "Fullstack Developer & Designer",
  "description": "{{ site.description }}",
  "knowsAbout": [
    "C/C++",
    "Java",
    "Python",
    "Spring Boot",
    "Flask",
    "AngularJS",
    "SQL",
    "Docker",
    "Git",
    "x86 Assembly"
  ],
  "sameAs": [
    "https://github.com/kennethkenn",
    "https://linkedin.com/in/kenneth-buchunju"
  ]
}
</script>